* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
    .container {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }

    :root {
        --corPrincipal: #061007;
        --corSecundaria: #cf8528;
        --corLink: #223c33;
        --corErro: #ff4d4f;
        --corBotao: #173C1C;
        --corBotaoHover: #3C5F34;
    }
    